-r requirements_data.txt
-r requirements_features.txt
-r requirements_metrics.txt
-r requirements_ml.txt
-r requirements_predictions.txt
-r requirements_ui.txt
-r requirements_trade.txt
# -r requirements_rl.txt
python-dotenv==1.0.0