evidently
hydra-core
numpy<1.24  # https://stackoverflow.com/questions/74844262/how-to-solve-error-numpy-has-no-attribute-float-in-python
pandas
psutil
scikit-learn<1.2  # pytorch-forecasting
# SQLAlchemy